*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: 460px;
  border-radius: 5px 0 0 5px;
}

span{
  display: inline-block;
}

body{
  background: #f3eae3;
  font-family: 'Montserrat', sans-serif;
}

.section-bg{
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  background: #fff;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.234);
}

.conteudo{
  padding: 20px 20px 0 0;
}

.perfume{
  display: inline-block;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  letter-spacing: 4px;
}

.conteudo h1{
  margin-bottom: 20px;
  font-size: 1.8rem;
  max-width: 200px;
}

.conteudo p{
  margin-bottom: 20px;
  color: hsl(228, 12%, 48%);
  font-size: 0.875rem;
}

.price{
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 40px;
}

.price span{
  text-decoration: line-through;
}

.price h2{
  color: hsl(158, 36%, 37%);
  font-size: 1.8rem;
}

button{
  width: 100%;
  padding: 12px 28px;
  background: hsl(158, 36%, 37%);
  border: none;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1rem;
  margin-bottom: 20px;
  cursor: pointer;
  transition: .3s;
}

button:hover{
  background: #1a4031;
}

button::before{
  content: "";
  display: inline-block;
  background-image: url('../images/shopping_cart_FILL0_wght400_GRAD0_opsz48\ 1\ 1.svg');
  width: 28px;
  height: 28px;
}

footer{
  margin-bottom: 10px;
}

@media(max-width: 500px){
  .section-bg{
    max-width: 450px;
    height: 80vh;
    width: 80vw;
  }
  img{
   width: 450px;
   object-fit: cover;
   object-position: top;
   border-radius: 5px 5px 0 0;
  }
  .card{
    grid-template-columns: 1fr;
    max-width: 450px;
    margin-top: 50px;
  }
  .conteudo{
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
  }
  .conteudo h1{
    font-size: 1.5rem;
    max-width: none;
  }
  .price h2{
    font-size: 1.5rem;
  }
  footer{
    margin-top: 180px;
  }
}

@media(max-width: 350px){
  body{
    overflow-x: hidden;
  }
  .section-bg{
    max-width: 300px;
  }
  img{
    max-width: 300px;
  }
  .card{
    max-width: 300px;
  }
  .conteudo h1{
    font-size: 1.2rem;
  }
  .perfume{
    font-size: 0.75rem;
  }
  .conteudo p{
    font-size: 0.75rem;
  }
  .price{
    margin-bottom: 20px;
  }
  .price h2{
    font-size: 1.2rem;
  }
  button{
    font-size: 1rem;
    padding: 10px 20px;
    margin-bottom: 10px;
  }

}